@import url(./styles/common.css);
@import url(./styles/header.css);

.wrapper::after,
.wrapper::before {
    content: "";
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    bottom: 0;
    left: -30%;
}

.wrapper::after {
    z-index: -2;
    background-image: url(../assets/26399-b58ef8.png);
}

.wrapper::before {
    z-index: -1;
    background: radial-gradient(circle, rgba(0,212,255,0) 14%, rgba(66,86,185,1) 61%);

}

.main__container {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__greeting {
    max-width: 1360px;
    margin: 0 auto;
    padding: 50px 70px;
    background-color: var(--second-color);
    /* border-radius: 40px; */
    font-size: 24px;
    text-align: center;

    box-shadow: 0px 0px 42px 22px rgba(34, 60, 80, 0.6);
}

.main__greeting p:first-child {
    font-size: 36px;
}

.main__nav > nav {
    display: flex;
    justify-content: center;
}

.main__nav > nav .nav__item {
    background-color: var(--background-color);
}

.main__nav > nav .nav__item:hover {
    border: none;
    transform: scale(110%);
}