@import url(../../styles/common.css);
@import url(../../styles/header.css);
@import url(../../styles/animations.css);

.main {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.board__table {
    margin: 0 auto;
}

td:first-child,
td:last-child {
    padding: 0 20px;
}

.board__cell {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: var(--text-color);
    border-collapse: collapse;
    padding: 0;
}

.board__cell_dark {
    background-color: var(--second-color);
}

.board__cell.require,
.board__cell.available,
.board__cell.checked {
    cursor: pointer;
}

.board__cell.require {
    background-color: var(--cell-color-red);
}

.board__cell.available {
    background-color: var(--cell-color-green);
}

.board__cell.checked {
    background-color: var(--cell-color-yellow);
}


.board__checker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60px;
    max-height: 60px;
    z-index: 2;

    cursor: pointer;
}


table {
    border-spacing: 0;
    border-collapse: collapse;
}

.main__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__current-player {
    display: flex;
}

.main__player[data-player='white'] {
    color: var(--text-color);
}

.main__player[data-player='black'] {
    color: #000000;
}

.main__current-player p:first-child {
    margin: 0 20px 0 0;
}

.winner {
    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;

    background-color: var(--second-color);
    border-radius: 40px;
    z-index: 99;

    transition: all ease 0.5s;
}

.winner.active {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.5s;
}

.winner__player {
    margin: 0 20px 0 0;
}

.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000075;
    z-index: 98;
    transition: all ease 0.5s;
}

.winner.active ~ .overlay {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.5s;
}