:root {
    --background-color: #4256B9;
    --second-color: #AD8DF2;
    --text-color:  #eee;
    --cell-color-red: #fc7c78;
    --cell-color-green: #bfe290;
    --cell-color-yellow: #ffe196;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-size: 24px;
    font-family: 'Poppins';
}

.wrapper {
    position: relative;
}

.container {
    margin: 0 auto;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

p {
    margin: 0;
}

.btn {
    background-color: var(--second-color);
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;

    transition: all ease 0.2s;
}

.btn:hover {
    background-color: #8b5eee;
    transition: all ease 0.2s;
}